absl-py==0.8.1
alignment==1.0.10
asn1crypto==0.24.0
astor==0.8.0
atomicwrites==1.1.5
attrs==18.1.0
backcall==0.1.0
bleach==2.1.3
blis==0.2.4
bokeh==0.12.15
boto==2.48.0
boto3==1.5.32
botocore==1.8.46
boxsdk==1.5.5
bpemb==0.3.0
bz2file==0.98
catboost==0.8.1.1
cchardet==2.1.4
certifi==2020.4.5.1
cffi==1.11.5
chainer==6.0.0
chardet==3.0.4
click==6.7
climin==0.1a1
cloudpickle==0.5.3
colorama==0.4.1
colorlog==4.0.2
colormap==1.0.2
conda==4.8.3
conda-package-handling==1.6.0
config-pkg==1.1.4
ConfigSpace==0.4.13
cplxmodule==0.8.0
cryptography==2.6.1
cssselect==1.0.3
cupy==7.0.0a1
cupy-cuda90==7.0.0a1
cycler==0.10.0
cymem==2.0.2
Cython==0.29.13
cytoolz==0.9.0.1
dask==0.15.2
decorator==4.4.0
Deprecated==1.2.5
dill==0.2.9
distributed==1.18.3
dlispy==0.0.2
docutils==0.14
-e git+https://github.com/fmsnew/DPDall.git@92be3038315d7c8470ec1375da24fb478cfc22cf#egg=dpd_project
easydev==0.9.37
editdistance==0.4
eli5==0.8.1
email-reply-parser==0.5.9
emcee==3.0.2
en-core-web-sm==2.0.0
entrypoints==0.2.3
et-xmlfile==1.0.1
fastdtw==0.3.2
fastprogress==0.1.20
fastrlock==0.4
fasttext==0.9.1
filelock==3.0.12
flair==0.4.2
Flask==1.0.3
ftfy==5.6
future==0.16.0
gast==0.3.2
gdown==3.8.3
gensim==3.4.0
Glances==3.1.0
GPy==1.9.6
graphviz==0.10.1
grpcio==1.24.1
h5py==2.7.1
HeapDict==1.0.0
HetMOGP==0.1
html2text==2018.1.9
html5lib==1.0.1
hyperopt==0.1.2
idna==2.8
ijson==2.3
imageio==2.5.0
implicit==0.3.6
importlib-metadata==0.18
inspyred==1.0.1
interruptingcow==0.8
ipaddress==1.0.22
ipdb==0.12
ipykernel==4.8.2
ipython==6.3.1
ipython-genutils==0.2.0
ipywidgets==7.2.1
itsdangerous==1.1.0
jdcal==1.4
jedi==0.12.0
jellyfish==0.7.2
Jinja2==2.10
jmespath==0.9.3
joblib==0.12.5
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterthemes==0.20.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.0.1
lasio==0.21
lazy-import==0.2.2
lesscpy==0.13.0
lightgbm==2.1.0
line-profiler==2.1.2
lockfile==0.12.2
luigi==2.7.8
lxml==4.3.3
Mako==1.0.7
Markdown==3.1.1
MarkupSafe==1.0
matplotlib==3.0.3
mistune==0.8.3
mkl-fft==1.0.10
mkl-random==1.0.2
mkl-service==2.0.2
mock==3.0.5
more-itertools==4.3.0
mpld3==0.3
msgpack==0.5.6
msgpack-numpy==0.4.3.2
msgpack-python==0.5.4
murmurhash==1.0.2
nasbench==1.0
nasbench-encoder==0.0.1
nasbench-pytorch==0.0.0
nbconvert==6.3.0
nbformat==4.4.0
networkx==2.4rc1.dev20190610154137
nltk==3.4.1
notebook==5.7.2
numpy==1.17.3
olefile==0.45.1
openmdao==2.8.0
openpyxl==2.5.4
ordereddict==1.1
packaging==17.1
pandas==0.24.2
pandocfilters==1.4.2
paramz==0.9.4
parso==0.2.0
patsy==0.5.0
pexpect==4.5.0
pickleshare==0.7.4
Pillow==7.1.2
pke==1.8
plac==0.9.6
plotly==2.5.1
pluggy==0.7.1
ply==3.11
pmlb==0.3
preshed==2.0.1
progressbar==2.5
prometheus-client==0.5.0
prompt-toolkit==1.0.15
protobuf==3.7.1
psutil==5.4.6
psycopg2==2.8.4
ptyprocess==0.5.2
py==1.5.4
pyaml==20.4.0
pybind11==2.4.3
pycosat==0.6.3
pycparser==2.18
pyDOE==0.3.8
pyDOE2==1.2.1
Pygments==2.2.0
pygpu==0.7.5
pygraphviz==1.5
PyJWT==1.6.4
pyKriging==0.2.0
pymc3==3.3
pymongo==3.8.0
pymystem3==0.1.9
pynisher==0.5.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyrfr==0.8.0
pyrsistent==0.15.2
PySocks==1.6.8
pytest==3.7.1
python-daemon==2.2.0
python-dateutil==2.8.0
python-dotenv==0.9.1
pytorch-pretrained-bert==0.6.2
pytz==2019.1
PyWavelets==1.1.1
pywt==1.0.6
PyYAML==3.12
pyzmq==17.0.0
qtconsole==4.3.1
quotequail==0.2.3
rake-nltk==1.0.4
regex==2018.1.10
requests==2.22.0
requests-toolbelt==0.8.0
ruamel-yaml==0.15.35
s3transfer==0.1.13
sacremoses==0.0.35
schedule==0.5.0
scikit-image==0.17.2
scikit-learn==0.23.1
scikit-optimize==0.7.4
scipy==1.2.1
seaborn==0.8.1
seafileapi==0.1.2
segtok==1.5.7
Send2Trash==1.5.0
sentencepiece==0.1.82
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
smac==0.12.2
smart-open==1.5.7
sobol-seq==0.2.0
sortedcontainers==2.0.4
spacy==2.0.18
SQLAlchemy==1.3.16
sqlitedict==1.6.0
srsly==0.0.5
statsmodels==0.8.0
tabulate==0.8.3
talon==1.4.4
tblib==1.3.2
tensorboard==1.13.1
tensorboardX==1.6
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
Theano==1.0.1+2.gcd195ed28
thinc==6.12.1
thinc-gpu-ops==0.0.4
threadpoolctl==2.1.0
tifffile==2020.5.25
toolz==0.9.0
torch==1.1.0
torchgan==0.0.4
torchvision==0.3.0
tornado==4.5.3
tqdm==4.32.1
traitlets==4.3.2
transformers==2.2.0
transliterate==1.10.2
tsfresh==0.11.0
typing==3.6.4
typing-extensions==3.7.2
ujson==1.35
Unidecode==1.1.1
urllib3==1.24.3
virtualenv==16.7.9
wasabi==0.2.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
widgetsnbextension==3.2.1
wrapt==1.10.11
xgboost==0.71
xlrd==1.1.0
xmltodict==0.12.0
yake==0.4.1
zict==0.1.3
zipp==0.5.1
